html {
    background-color: grey;
}

nav {
    width: 100%;
    /* justify-content: space-around; */
    display: flex;
    position: relative;
    margin-top: 0%;
    background-color:silver;
}

nav ul {
    text-align: right;

}

nav ul li {
    display: inline-block;
    list-style: none;
    /* margin-right: ; */
    padding-left: 20px 0;
    color: white;
    top: 0%;
    justify-content: space-between;
}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;;
    color: rgba(12, 12, 9, 0.7);
}

nav img {
    height: 200px;
    width: 200px;
    border-radius: 30%;
}

.begin {
    background-image: url('https://images.pexels.com/photos/344621/pexels-photo-344621.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    text-align: center;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    background-size: cover;
    height: 800px;


}
.begin  p{
    /* margin-top: 10%; */
    color :silver;
}

h2,
h3 {
    background-color: silver;
    padding: 1%;
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}
footer{
    background-color: silver;
    text-align: center;
}


i {
    padding: 10px;
    margin-left: 10%;
    display: flex;
    justify-content: space space-around;
}

i:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    color: rgba(12, 12, 9, 0.7);
}
hr{
    color:silver bold;
    width: 80%;
    height: 20px;
}

.main img, .last img{
    height: 440px;
    width: 440px;
    border-radius: 30%;
}
.main p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    text-align:center;
}
.last p{
    
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
    
}
span{
    font-size: 45px;
}
