




























i {
    padding: 10px;
    margin-left: 100px;
    display: flex;
    justify-content: space space-around;
}

i:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    color: rgba(12, 12, 9, 0.7);
}