html {
    background-color: grey;
}

nav {
    width: 100%;
    /* justify-content: space-around; */
    display: flex;
    position: relative;
    margin-top: 0%;
    background-color: silver;
}

nav ul {
    text-align: right;

}

nav ul li {
    display: inline-block;
    list-style: none;
    /* margin-right: ; */
    padding-left: 20px 0;
    color: white;
    top: 0%;
    justify-content: space-between;
}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    ;
    color: rgba(12, 12, 9, 0.7);
}

nav img {
    height: 200px;
    width: 200px;
    border-radius: 30%;
}

.begin {
    background-image: url('https://images.pexels.com/photos/344621/pexels-photo-344621.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    text-align: center;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
    background-size: cover;
    height: 700px;


}

.begin p {
    /* margin-top: 10%; */
    color: silver;
    text-shadow: #08838b 4px 4px 5px;
}

h2,
h3 {
    background-color: silver;
    padding: 1%;
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

footer {
    background-color: silver;
    text-align: center;
}


i {
    padding: 10px;
    margin-left: 10%;
    display: flex;
    justify-content: space space-around;
}

i:hover {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1), inset 0 0 1px rgba(100, 93, 93, 0.6);
    background: #08838b;
    color: rgba(12, 12, 9, 0.7);
}

hr {
    color: silver bold;
    width: 80%;
    height: 20px;
}

.main img,
.last img {
    height: 300px;
    width: 300px;
    border-radius: 30%;
}

.main p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    text-align: center;
}

.last p {

    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;

}

.last img {
    border-radius: 50%;
    animation: ben 6s alternate ease-in-out infinite;
}

span {
    font-size: 45px;
}

.first img {
    /* transform: (1.1); */
    /* transition-duration: 2s;  */

    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.begin :hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.third img {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.inn :hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

}

/* .beni{
      border: 2px solid silver;
      height: 300px;
      width:200;
      
  } */
.ben {
    text-align: center;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: aquamarine;
    animation: bounce 2s alternate ease-in-out infinite;
    transform-origin: right middle;
    /* transform: translateY() */
}

.ben h1 {
    margin-top: 15%;
}

@keyframes bounce {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(380px);
    }
}

@keyframes ben {
    from {
        transform: rotate(-180deg)
    }

    to {
        transform: rotate(360deg)
    }
}
